@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Permanent+Marker&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pacifico', cursive, 'Times New Roman', Times, serif;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  background-color: hwb(24 82% 16%);
  color: hsl(215, 28%, 17%);
}
header,
footer {
  text-align: center;
}
header {
  font-style: italic;
}
main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
#calender-container {
  width: 300px;
  height: 300px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}
#month {
  background-color: hsl(329, 86%, 70%);
  color: white;
  font-size: 2.5rem;
  padding: 15px;
  font-weight: bold;
}
#day-name,
#year {
  font-size: 1.5rem;
  color: hsl(0, 0%, 50%);
}
#day-number {
  font-size: 4rem;
  font-weight: bold;
  color: black;
}
footer {
  font-size: 1.6rem;
}
