@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Permanent+Marker&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pacifico', cursive, 'Times New Roman', Times, serif;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
}
header,
footer {
  text-align: center;
}
header {
  font-style: italic;
}
main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
